@tailwind base;
@tailwind components;
@tailwind utilities;

  
body{
    @apply bg-bgku; 
    
}


.navbar-fixed {
    @apply fixed z-[9999] bg-bgku;
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-darkPurple;
}

.hamburger-active > span:nth-child(1) {
    @apply origin-top-left rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
}

.card {
    @apply rounded-xl shadow-lg;
}


.custom-box-shadow {
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
  }

  @keyframes slideInRightToLeftFadeIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in-right-to-left-fade-in {
    animation: slideInRightToLeftFadeIn 1s ease-out forwards;
  }
  
  